
<div style="border:2px solid @Color;padding:5px;margin:5px;">
    <h3>@Title</h3>
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string Color { get; set; } = "#000";

    public void ChangeColor(string color)
    {
        Color = color;
    }
}